# Python Basics
Below we will practice some Python...

In [1]:
age = 18
name = 'Max Espinosa'
print(name)
print(age)

Max Espinosa
18

In [2]:
print("Hello!")

Hello!

## Wow, this is cool :3

In [3]:
fish = ["tilapia", "tuna", "salmon", "snapper", "catfish", "mahi"]
print(fish[2])

salmon

In [4]:
fish[2:]

['salmon', 'snapper', 'catfish', 'mahi']

In [5]:
fish[:3]

['tilapia', 'tuna', 'salmon']

In [6]:
fish[:-1]

['tilapia', 'tuna', 'salmon', 'snapper', 'catfish']

In [7]:
fish[-1]

'mahi'

In [8]:
fish[::]

['tilapia', 'tuna', 'salmon', 'snapper', 'catfish', 'mahi']

In [9]:
fish[::-1]

['mahi', 'catfish', 'snapper', 'salmon', 'tuna', 'tilapia']

In [10]:
test = 'Go hang a salami, I am a lasagna hog'
test[::-1]

'goh angasal a ma I ,imalas a gnah oG'

In [12]:
grades = [93, 47, 62, 58, 91, 98, 86]
print (max(grades))
print(min(grades))

98
47

In [16]:
evens = list(range(2, 21, 2))

for num in evens: 
    print(num)

2
4
6
8
10
12
14
16
18
20

Now lets play with strings

In [18]:
yourName = "Mark"

In [19]:
yourName[-1] = 'c'

TypeError: 'str' object does not support item assignment

In [20]:
yourName = yourName[:-1] + 'c'
print(yourName)

Marc

In [21]:
a = 3 + 5 
a

8

In [22]:
b = 3 + 5 , 3 - 5, 3 * 5, 3 / 5
b

(8, -2, 15, 0.6)

Lets write a function

In [23]:
def sumGrades(grades):
    sum = 0
    for grade in grades:
        sum += grade
    return sum

In [24]:
sumGrades(grades)

535